<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>WebComponents - Templates</title>
    <template id="template">
        <style>
            span {
             color: blue;
            }
        </style>
        <p>
            Hello <span>World</span>
        </p>
    </template>
</head>
<body>
    <div id="target"></div>
    <script>
        var template = document.querySelector('#template');
        var clone = document.importNode(template.content, true);
        var host = document.querySelector('#target');
        host.appendChild(clone);
    </script>
</body>
</html>